@font-face {
    font-family: Harry;
    src: url("images/Parry\ Hotter.ttf");
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Harry";
    color:rgb(245, 248, 71);
}
html{
    font-size:0.7vw;
}
a{
    color:#EFF24E;
    text-decoration:none;
    font-size:2rem;
}
body {
    background-image: url("images/f9d7af29e8b87e7bdbc81609503036d1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    position:relative;
    height:100vh;
}
@media only screen and (min-width: 600px) {
    main{
    height:190vh;
}
}
.main_feather, .main_book_shadow, .h_hogwart{
    width:7vw;
}

nav{
    position:relative;
    width:100%;
    z-index:1;
    top:5%;
}
.main_button{
    position:absolute;
    top:30%;
    left:5%;
    width:20%;
    z-index:1;
}
.main_button img:hover{
        filter: drop-shadow(2px 2px 0 rgb(231, 108, 7))
        drop-shadow(-2px 2px 0 rgb(223, 122, 6))
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
        transform:scale(1.2);
}
.main_button h3{
    position:absolute;
    display:inline-block; 
    font-size:4rem;
    left:50%;
    text-shadow:2px 2px 3px #FA6900;
}

.teach_spells{
    position:absolute;
    top:30%;
    right:5%;
    display:flex;
    width:30%;
    align-items:center;
    justify-content:space-around;
}
.teach_spells a:hover>span{
    filter: drop-shadow(1px 1px 0 rgb(231, 108, 7))
    drop-shadow(-1px 1px 0 rgb(223, 122, 6))
    drop-shadow(1px -1px 0 white)
    drop-shadow(-1px -1px 0 white);
    transform:scale(1.2);
}
.teach_spells span{
    position:absolute;
    bottom:8%;
    font-size:3rem;
    text-shadow:2px 2px 3px #FA6900;
}

.teach_spells .teachers span {
    right:67%;
}
.teach_spells .spells span {
    right:17%;
}


header{
    font-size:2.7rem;
    position:relative;
    text-align:center;
    left:50%;
    transform:translateX(-50%);
    top:20%;
    width:50%;
}
header span{
    color:#FA6900;
    font-weight:bold;
}
header h1{
    text-shadow:3px 2px 3px rgb(0, 0, 0);
    padding:2vw;
    transition-duration:5s;
}
header h1:hover{
    transform:scale(1.1);
}
@media only screen and (min-width:700px){
    header h1:hover{
        transform:scale(1.5);
    }
}

header h3:first-of-type, header h3:nth-of-type(2){
    margin:5vw 0;
    text-shadow:3px 2px 5px rgb(0, 0, 0);
}
header h3:last-of-type{
    margin-top:5vw 0;
    text-shadow:3px 2px 3px rgb(0, 0, 0);
}
.herbs{
    position:relative;
    top:20%;
    height:40vh;
    font-size:2.3rem;
    text-align:center;
    text-shadow:3px 2px 3px rgb(0, 0, 0);
}
.herbs img {
    filter:drop-shadow(1px 2px 5px rgb(27, 27, 27))
    drop-shadow(-2px 2px 3px rgb(17, 15, 15))
}
.her img:hover{
    filter: drop-shadow(2px 2px 0 rgb(231, 108, 7))
    drop-shadow(-2px 2px 0 rgb(223, 122, 6))
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
    transform:scale(1.1);
}
.herbs h3{
    color:#D4E41D;
    transition-duration:0.4s;
}

.her{
    position:absolute;
}
.her img{
    width:10vw;
}
.sl {
    left:15%;
    bottom:100%;
}
.sl a:hover~h3{
    transform: scale(1.4);
}

.gr{
    right:15%;
    bottom:100%;
}
.gr a:hover~h3{
    transform: scale(1.4);
}
.ra{
    right:20%;
    bottom:0;
}
.ra a:hover~h3{
    transform: scale(1.4);
}
.hu{
    left:20%;
    bottom:0;
}
.hu a:hover~h3{
    transform: scale(1.4);
}
.sorting_hat{
    position:absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
}
.sorting_hat img{
    width:7vw;
}
.sorting_hat img:hover{
    filter: drop-shadow(2px 2px 0 rgb(231, 108, 7))
    drop-shadow(-2px 2px 0 rgb(223, 122, 6))
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
    transform:scale(1.1);
}

.back_page{
    position:absolute;
    display:inline-block; 
    font-size:4rem;
    left:50%;
    text-shadow:2px 2px 3px #FA6900;
}
.main_teachers, .main_spells{
    position:relative;
    height:100%;
    font-size:4rem;
    text-shadow:2px 2px 3px rgb(0, 0, 0);
}
.main_image{
    position:absolute;
    top:17%;
    left:50%;
    transform:translateX(-20%);
    height:15vw;
}
.main_teachers h3, .main_spells h3{
    position:absolute;
    top:25%;
    left:50%;
    transform:translateX(-50%)
}
.main_teachers .scroll {
    position:absolute;
    top:37%;
    height:63%;
    z-index:-1;
    left:50%;
    transform:translateX(-50%);
}
.main_teachers h4{
    position:absolute;
    top:39%;
    left:50%;
    transform:translateX(-50%);
    color:black;
    text-shadow:none;
}
.herb_menu{
    position:absolute;
    top:50%;
}
.herb_menu img{
    width:6vw;
    margin-left:4vw;
    filter:drop-shadow(1px 1px 3px rgb(0, 0, 0))
    drop-shadow(-1px 1px 0 rgb(255, 255, 255))
    drop-shadow(1px -1px 0 rgb(255, 255, 255))
    drop-shadow(-1px -1px 0 rgb(0, 0, 0));
}
.herb_menu img:hover{
    filter: drop-shadow(2px 2px 0 rgb(231, 108, 7))
    drop-shadow(-2px 2px 0 rgb(223, 122, 6))
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
    transform:scale(1.2);
}

.btn_teachers{
    background-color:transparent;
    outline:none;
    border:none;
    font-size:4rem;
    position:absolute;
    top:66%;
    left:50%;
    transform:translate(-50%);
    color:black;
}

.btn_teachers:hover, .btn_spells:hover{
    cursor:pointer;
    filter:drop-shadow(2px 2px 0 rgb(245, 248, 71))
    drop-shadow(-2px 2px 0 rgb(245, 248, 71))
    drop-shadow(2px -2px 3px white);

}
.teacher_list{
    font-size:1rem;
    grid-template-columns: 2;
    grid-template-rows:4;
    justify-content:center;
    left:27%;
    align-items:center;
    text-align:center;
    position:absolute;
    top:52%;
    z-index:1;
}
.teacher_list li{
    color:rgb(0, 0, 0);
    list-style:none;
}

.teacher_list li:hover{
    animation-name: cokolwiek;
    animation-duration:1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.wizard{
    position:absolute;
    height:40%;
    left:50%;
    top:47%;
    filter: drop-shadow(1px 1px 0 rgb(0, 0, 0))
    drop-shadow(-1px 1px 0 rgb(0, 0, 0))
    drop-shadow(1px -1px 0 rgb(0, 0, 0))
    drop-shadow(-1px -1px 0 rgb(0, 0, 0));
}
.wizard:hover{
    filter: drop-shadow(2px 2px 0 rgb(231, 197, 7))
    drop-shadow(-2px 2px 0 rgb(240, 255, 35))
    drop-shadow(2px -2px 0 white)
    drop-shadow(-2px -2px 0 white);
    transition-duration: 1s;
}

.wizard_words{
    position:absolute;
    top:50%;
    left:52%;
    font-size:2.4rem;
}
.witek{
    position:absolute;
    top:80%;
    left:55%;
    font-size:2rem;
    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0))
}
@keyframes cokolwiek{
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
.main_house{
    position:relative;
    height:100%;
    font-size:4rem;
    text-shadow:2px 2px 3px rgb(0, 0, 0);
}
.main_house h3{
    position:absolute;
    top:30%;
    left:49%;
    transform:translateX(-50%)
}
.house_info{
    display:flex;
    position:absolute;
    top: 40%;
    left: 35%;
    flex-wrap:wrap;
}
.house_info > div{
    width:100%;
}
.house_herb{
    position:absolute;
    top:20%;
    left:45%;
    transform:translateX(-20%);
    height:15vw;
}
.students img{
    position: absolute;
    top: 65%;
    left: 5%;
    transform: rotate(-15deg);
    height: 25vw;
}
.students > div{
    position: absolute;
    top: 71%;
    left: 20%;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.students > div:hover {
    transform: scale(1.3);
    transition-duration:0.4s;
    cursor: pointer;
}

.block_buttons{
    display:flex;
    position:absolute;
    left: 60%;
    top: 65%;
    flex-wrap:wrap;
}
.block_buttons img{
    height: 9vw;
}
.ministry_of_magic, .order_of_the_phoenix, .dumbledores_army{
    display: flex;
}
.block_buttons > div > p:hover{
    transform: scale(1.3);
    transition-duration:0.4s;
    cursor: pointer;
}
/* Students view and elements in it */
.studentsView h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size:9rem ;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-weight: 400;
}
.studentsView > img{
    position: absolute;
    top: 19%;
    left: 22%;
    height: 30vw;
    transform: rotate(35deg);
}
.scroll_container{
    display: flex;
    position: absolute;
    top:40%;
    z-index: -1;
}
.scroll_students{
    top: 60%;
    width: 50%;
    height: 50%;
}

.scroll_container h4:first-of-type{
    position: absolute;
    font-size: 4rem;
    font-weight: 400;
    color: black;
    top: 18%;
    left: 11%;
}
.scroll_container h4:last-of-type{
    position: absolute;
    font-size: 4rem;
    font-weight: 400;
    color: black;
    top: 18%;
    right: 11%;
}
.pureBlood{
    left: 7%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:5rem ;
    position: absolute;
    text-align: center;
    top: 35%;
    list-style: none;
    
}
.halfBlood{
    right: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:5rem ;
    position: absolute;
    text-align: center;
    top: 35%;
    list-style: none;
    
}
.pureBlood li, .halfBlood li{
    color: black;
    font-size: 3rem;

    
}
#open_book {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 67%;
}
.ministry_army_order_view img{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    
}
.ministry_army_order_view h3{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7rem;
    z-index: 1;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-weight: 400;
}
.ministry_army_order_view h4{
    position: absolute;
    top: 41%;
    left: 25%;
    font-size: 3rem;
    z-index: 1;
    font-weight: 400;
    color: black;
}
#members{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 25rem;
    left: 29%;
    position: absolute;
    text-align: center;
    top: 45%;
    list-style: none;
    
}
#members li{
    font-size: 2rem;
    color: black;
}

.main_spells_image{
    position:absolute;
    top:25%;
    left:43%;
    height:10vw;
}

.main_spells .book {
    position:absolute;
    top:25.5%;
    width: 100%;
    z-index:-1;
    left:0%;
}

.main_spells h4{
    position:absolute;
    top:25.5%;
    left:0%;
    transform:translate(105%, 400%);
    color:black;
    text-shadow:none;
    font-size: 3rem;
}

.btn_spells{
    background-color:transparent;
    outline:none;
    border:none;
    font-size:3rem;
    position:absolute;
    top:25.5%;
    left:0%;
    transform:translate(75%, 350%);
    width: 28%;
    color:black;
}

.spells_types_list{
    position:absolute;
    top:25.5%;
    left:0%;
    transform:translate(85%, 25vw);
    color:black;
    text-shadow:none;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    height: 25vw;
    width: 26%;
}

.btn_spells_type{
    background-color:transparent;
    outline:none;
    border:none;
    color:black;
    font-size: 2rem;
    flex: 1;
}

.btn_spells_type:hover{
    cursor:pointer;
    filter:drop-shadow(2px 2px 0 rgb(245, 248, 71))
    drop-shadow(-2px 2px 0 rgb(245, 248, 71))
    drop-shadow(2px -2px 3px white);
}
.spells_list {
    display:flex;
    flex-direction: column;
    overflow:auto;
    height:30vw;
    width: 26%;
    position:absolute;
    top:25.5%;
    left:0%;
    transform:translate(195%, 22vw);
    text-shadow:none;
}

.spells_list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: none;
}

.spells_list::-webkit-scrollbar{
	width: 2%;
	background-color: none;
}

.spells_list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: black;
}

.spells_list_item{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-gap: 2%;
}

.spells_list_item p {
    color:black;
    font-size:1rem;
    text-shadow: none;
}

.spells_list_title{
    display:grid;
    position: absolute;
    grid-template-columns: 2fr 1fr 3fr;
    grid-gap: 2%;
    top:25.5%;
    left:0%;
    transform:translate(195%, 19vw);
    width: 26%;
}

.spells_list_title p {
    color:black;
    font-size: 1.5rem;
}
